body {
    background-color: #F4DFBA;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 100%;
    position: relative;
}

a {
    text-decoration: none;
}

#body_div {
    padding-top: 30px;
    padding-bottom: 60px;
    /* height: 85vh; */
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}

#new_post {
    font-family: 'Cookie', cursive;
    padding: 10px;
    text-decoration: none;
    /* color: #000000; */
    border-radius: 5px;
    margin: 10px 10px;
    background-color: #f2e6d2;
    text-decoration: none;
    border: 2px solid #876445;
    box-shadow: 0 0 5px #CA965C;
    color: #876445;
    font-size: 30px;
}

header {
    width: 100vw;
    text-align: center;
}

#base_header {
    display: grid;
    border-bottom: 2px solid #876445;
    grid-template-columns: 1fr 4fr 1fr;
    min-height: 100%;
    position: relative;;
}

#base_header div {
    align-self: center;
}

#base_header div a {
    font-family: 'Cookie', cursive;
    color: #894c15;
    font-size: 25px;
    text-decoration: none;
}

#base_header div p a {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-decoration: none;
    /* color: #000000; */
    border-radius: 5px;
    margin: 0 10px;
    background-color: #CA965C;
    text-decoration: none;
    color: #F4DFBA;
    font-size: 15px;
}

#app_heading {
    font-family: 'Cookie', cursive;
    color: #894c15;
    font-size: 45px;
    margin: 10px auto 0 auto;
    padding-bottom: 5px;
}

#app_heading a:visited {
    color: #894c15;
}

#logo {
    display: inline-block;
    vertical-align: text-top;
    margin-top: -2.5px;
}

.post {
    /* background-color: #EEC373; */
    background-color: #f2e6d2;
    font-family: 'Roboto', sans-serif;
    width: 440px;
    border: 1px solid #876445;
    box-shadow: 0 0 5px #CA965C;
    /* padding: 10px; */
    margin: 10px 0;
    border-radius: 10px;

}

.post div {
    padding-left: 10px;
    padding-right: 10px;
}

.post .clickables {
    display: flex;
    justify-content: space-between;
    height: 31px;
}

.post .clickables a {
    text-decoration: none;
    color: darkslategrey;
}

.title {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.title p, .weather {
    margin: 0;
}

.content {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.weather_div {
    padding-top: 5px;
}

.content a {
    margin: 0 5px 0 0;
    vertical-align: middle;
}
.content a:visited {
    color: #894c15;
}
.content p {
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.weather_icon {
    display: inline-block;
    vertical-align: middle;
}

#interest {
    font-family: 'Cookie', cursive;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.interested {
    padding-top: 5px;
    padding-bottom: 0px;
    margin-top:0px;
    margin-bottom: 0px;
    text-decoration: none;
    color: black;
}

#interested_div {
    margin-bottom:10px;
}

.button {
    padding-top:0px;
    padding-bottom: 10px;
    margin-top:0px;
    margin-bottom: 0px;
}

/* .details span {
    font-weight: bold;
} */

.username {
    font-weight: normal;
    font-size: 22px;
    font-family: 'Cookie', cursive;
    text-decoration: none;
}

#map {
    width: 100%;
    border-top: 1px solid #CA965C;
    border-bottom: 1px solid #CA965C;
}

/* .flair {
    background-color: rgba(255, 0, 0, 0.3);
} */



img {
    width: 40px;
}

footer {
    color: rgb(89, 89, 89);
    margin: 10px auto auto auto;
    position: absolute;
    height:30px;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    text-align: center;
}

#copyright {
    text-decoration: underline;
    font-family: 'Cookie', cursive;
    font-size: 18px;

}

/* User Profile */
#details {
    margin-top: 10px;
    border:#876445 1px solid;
    border-radius: 10px;
    background-color: #f2e6d2;
    font-family: 'Roboto', sans-serif;
}
#personal_details {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding-top: 5px;
    border-bottom: black solid 1px;
}

/* --- */
#second_heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 42px;
    padding-bottom: 10px;
    margin-bottom: 0px;

}
#front_page {
    font-family: 'Roboto', sans-serif;
    padding: 0 50px 0 25px;
    max-width: 536px;
}
#front_logo {
    font-family: 'Cookie', cursive;
    color: #894c15;
    font-size: 58px;
}

#front_img {
    width: 400px;
    padding-right: 50px;
}

#front_body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#descript {
    font-size: 20px;
    margin-top: 0px;
    padding-top: 0px;
}
#front_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #876445;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

#front_heading {
    font-family: 'Cookie', cursive;
    font-size: 45px;
    margin: 0px auto 0 10px;
}
#steps_img {
    width: 100px;
}
.head_button {
    padding: 10px;
    text-decoration: none;
    color: #000000;
    border-radius: 5px;
    margin: 0 10px;
}
#front_join {
    margin: 30px 0px;
    background-color: #CA965C;
    text-decoration: none;
    color: #F4DFBA;
    border-radius: 5px;
}
/* --- */

#personal_details p {
    margin: 0;
}

#update {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}

.about {
    width: 400px;
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 8px;

}

#signup_form div {
    display: flex;
    justify-content: space-between;
}
#signup_form div input {
    margin-left: 10px;
}
#signup_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#signup_button {
    justify-content: center;
}

#new_form div {
    display: flex;
    justify-content: space-between;
}
#new_form div input {
    margin-left: 10px;
}
#new_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#new_button {
    justify-content: center;
}

#update_form div {
    display: flex;
    justify-content: space-between;
}
#update_form div input {
    margin-left: 10px;
}
#update_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#update_box div {
    display: flex;
    justify-content: space-between;
}
#update_button {
    justify-content: center;
}

/* Flair Stylers */
.Just_Chat {
    background-color: rgba(255, 0, 0, 0.3);
}

.Date {
    background-color: rgba(255, 0, 246, 0.3);
}

.Language_Exchange {
    background-color: rgba(0, 21, 255, 0.3);
}

.Study {
    background-color: rgba(34, 255, 0, 0.3);
}

.expired {
    color: rgb(255, 0, 0);
    font-family: 'Cookie', cursive;
    font-size: 19px;
}
