{% extends 'base.html' %}

{% block content %}
<h2>About Chattucino</h2>
<p>Chattucino is a web-based application that can be used to organise coffee-catch-ups with friends.</p>
<div>
    <p>With Chattucino, users can:</p>
    <ul>
        <li>Create an account/Sign Up</li>
        <li>Login/Logout</li>
        <li>Post a new "Chattucino" meet-up</li>
        <li>Update user profile details</li>
        <li>Show interest in attending a meet-up</li>
        <li>Approve request of other users to join a meet-up</li>
    </ul> 
</div>

<p>Chattucino leverages the Open Weather Map and Bing Maps free tier APIs.</p>

{% endblock %}