<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Chattucino</title>
</head>
<body>
    <header>
        <h1 id="app_heading">
            <img src="/static/chattucino_logo.png" alt="" id="logo">
            Chattucino
        </h1>
        {% if user_cookie != None %}
            <p>Logged in as {{ user_cookie }} <a href="/logout">Logout</a></p>
        {% else %}
            <a href="/login">Log In</a>
        {% endif %}
    </header>

    {% block content %}

    {% endblock %}
</body>
<footer>
    Copyright © <span id="copyright">Chattucino</span> 2022.
</footer>
</html>