<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <script defer src="../static/js/main_script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Chattucino</title>
</head>
<body>
    <header id="base_header">
        <div>
            {% if user_cookie != None %}
                <a href="/user?id={{ user_id }}">{{ user_cookie }}</a>
            {% endif %}
        </div>
        <h1 id="app_heading">
            <a href="/">
                <img src="/static/chattucino_logo.png" alt="" id="logo">
                Chattucino
            </a>
        </h1>
        <div>
            {% if user_cookie != None %}
                <p><a href="/logout">Logout</a></p>
            {% endif %}
        </div>

    </header>
    <div id="body_div">
        {% block content %}

        {% endblock %} 
    </div>

    <footer>
        Copyright © <span id="copyright">Chattucino</span> 2022.
    </footer>
</body>
</html>