<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

    <title>Chattucino</title>
</head>
<body>
    <header id="front_header">
        <h1 id="front_heading">
            <img src="/static/chattucino_logo.png" alt="" id="logo">
            Chattucino
        </h1>
        <a href="/about" class="head_button">About</a>
        <a href="/login" class="head_button">Login</a>
    </header>
<div id="body_div">
    <div id="front_body">
        <aside id="front_page">
            <h1 id="second_heading">Meet up over a <span id="front_logo">Chattucino</span></h1>
            <p id="descript">Everyone either loves coffee or should. Especially now that you can easily coordinate catch-ups with close friends, discover ways to meet new friends or simply invite someone over for hot coffee.
            <br><br>   
            Simply make an account, create or join a Chattucino and meet-up. 
            <br>
            <br>

            <a href="/signup" class="head_button" id="front_join">Join Us</a>
        </aside>
        <img src="/static/front_logo.png" alt="" id="front_img">
    </div>
</div>


</body>
<footer>
    Copyright © <span id="copyright">Chattucino</span> 2022.
</footer>
</html>