{% extends 'base.html' %}

{% block content %}

    <div id="new_box">
        <h2>Login</h2>
        <form action="/login_action" method="POST" id="new_form">
            <input type="hidden" name="id">
            <div>
                Email: <input name="email" type="text">
            </div>
            <div>
                Password: <input name="password" type="password">
            </div>
            <div id="new_button">
                <br>
                <input type="submit" value="Login">
                <br>
            </div>

        </form>
    </div>

{% endblock %}