{% extends 'base.html' %}

{% block content %}
    <div id="new_box">
        <h2>Create Chattucino</h2>
        <form action="/new_post_action" method="POST" id="new_form">
            <input type="hidden" name="id">
            <div>
                Street: <input name="street_address" type="text">
            </div>
            <div>
                Suburb: <input name="location" type="text">
            </div>
            <div>
                State: 
                <select name="state">
                    <option value="Victoria">VIC</option>
                    <option value="Tasmania">TAS</option>
                    <option value="ACT">ACT</option>
                    <option value="South Australia">SA</option>
                    <option value="Western Australia">WA</option>
                    <option value="Northern Territory">NT</option>
                    <option value="Queensland">QLD</option>
                    <option value="New South Wales">NSW</option>
                </select>
            </div>
            <div>
                Date: <input name="date" type="date">
            </div>
            <div>
                Max Number of People: <input name="max_people" type="number">
            </div>
            <div>
                Flair:
                <select name="flair" id="flair">
                    <option value="Just Chat">Just Chat</option>
                    <option value="Date">Date</option>
                    <option value="Language Exchange">Language Exchange</option>
                    <option value="Study">Study</option>
                </select>
            </div>
            <div id="new_button">
                <br>
                <input type="submit" value="Post Chat">
                <br>
            </div>
           
        </form>
    </div>

{% endblock %}